<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.plitto.Plitto" version="0.0.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Plitto</name>
  <description>
        Plitto connects people through things they have in common.
    </description>
  <author email="guthrie.ben@gmail.com" href="http://plit.to">
        Plitto Team / Ben Guthrie
    </author>
  <content src="index.html"/>
  <access origin="*"/>
</widget>