# Node Modules
node_modules/
*.log
*.swo
*.swp


# Ignore Libraries - Will the build still work?
#
/client/app/lib
/client/app/www
client/app/lib
client/app/lib/
/client/app/lib/
lib
/client/platforms/
/client/www/
/common/
/client/node_modules/
/client/resources/
/client/app copy/
