<ion-view>

  <user-nav></user-nav>
  <ion-content>


    <h1 class="pageTitle">
      <i class="ionicon ion-information-circled"></i>
      About Plitto</h1>
    <img ng-src='img/prod/plitto_icon_144.png' style="margin-left: 2em; height: 100px; width: 100px;" />

    <div class="card">
      <div class="item item-divider bar-positive">
        Team
      </div>
      <div class="item item-text-wrap">
        <img ng-src='img/prod/about_ben.jpg' style='height: 50%; width: 50%;' />
        <p>Ben Guthrie <a href='http://twitter.com/benguthrie'>@benguthrie</a> made Plitto for you.</p>
      </div>

    </div>

    <div class="card">
      <div class="item item-divider">
        Objective: Have Better Conversations.
      </div>
      <div class="item item-text-wrap">
        <p>Better conversations happen when you have great things to talk about.</p>

        <p>Plitto's goal is to increase your chances of great conversations with anyone you meet.</p>

        <p>Put yourself out there. Enjoy.</p>


      </div>

    </div>


    <div class="card">
      <div class="item item-divider">
        Security &amp; Privacy
      </div>
      <div class="item item-text-wrap">
        <p>Plitto will make money off of the connections it makes outside of your friend base. That will allow Plitto to survive without money from advertisers or brands, which will allow you to feel more secure adding your content.
        </p>
        <p>Plitto is NOT a place to have relationships. Plitto is a tool that lets you have better real-world conversations. Plitto allows you to comment on people's things. But they cannot respond. And only they can see your comment. If you want to talk to them, give them a call. Meet up for a beverage. *shudder* Send them a text.</p>
        <p>You should feel safe to open up. Plitto is designed for friends, and designed to make live hard for creeps and trolls.</p>


      </div>

    </div>

    <div class="card">
      <div class="item item-divider">
        Who can see my content?
      </div>
      <div class="item item-text-wrap">

        <p>Currently, all your Facebook friends could see anything you put into Plitto. This will evolve over time.</p>

        <p>Strangers can also see your data, but they can't see that it's associated with you. Your data will be aggregated among other strangers, and all of your identities will be removed when it is viewed.</p>

        <p>So don't put in content like "The best things about being Jennifer Jones, SSN 111-12-3123 / Living on 123 Elm Street / Being Born Jan 1, 1990 / Making $34,000 per year". Unless you're up for some excitement to see just how bad identity theft can be. If that happens, please create a list <b>Ways that My Identity Theft Was Less Fun Than Expected</b>
        </p>

      </div>

    </div>

  </ion-content>
</ion-view>