<ion-view>
  <ion-content class="has-header">
    <user-nav></user-nav>

    <h1 class="pageTitle">
      <i class="ionicon ion-information-circled"></i>
      About Plitto</h1>
    <img ng-src='img/plitto_icon_144.png' style="height: 100px; width: 100px;"/> 
    
    <div class="card">
      <div class="item item-divider">
        Team
      </div>
      <div class="item item-text-wrap">
        <img ng-src='img/about_ben.jpg' style='height: 50%; width: 50%;'/>
        <p>Ben Guthrie <a href='http://twitter.com/benguthrie'>@benguthrie</a> made Plitto for you.</p>
      </div>
    
    </div>
    
    <div class="card">
      <div class="item item-divider">
        Objective
      </div>
      <div class="item item-text-wrap">
        <p>The more you know about your friends, and people you come into contact with, the better your relationships with them will be. </p>
        
        <p>You can have better conversations and more easily open up to them, and have them open up to you.</p>
        
        
      </div>
    
    </div>
    
    <div class="card">
      <div class="item item-divider">
        Objective
      </div>
      <div class="item item-text-wrap">
        <p>The more you know about your friends, and people you come into contact with, the better your relationships with them will be. </p>
        
        <p>You can have better conversations and more easily open up to them, and have them open up to you.</p>
        
        
      </div>
    
    </div>
    <div class="card">
      <div class="item item-divider">
        Security &amp; Privacy
      </div>
      <div class="item item-text-wrap">
        Plitto will make money off of the connections it makes outside of your friend base. That will allow Plitto to thrive without money from advertisers or researchers, which will allow you to feel more secure adding your content. 
        
      </div>
      
    </div>
    
    <div class="card">
      <div class="item item-divider">
        Who can see my content?
      </div>
      <div class="item item-text-wrap">
        
        <p>Currently, all your Facebook friends could see anything you put into Plitto. This will evolve over time.</p>
        
        <p>Strangers can also see your data, but they can't see that it's associated with you. Your data will be aggregated among other strangers, and all of your identities will be removed when it is viewed.</p>
        
        <p>So don't put in content like "The best things about being Jennifer Jones, SSN 111-12-3123 / Living on 123 Elm Street / Being Born Jan 1, 1990 / Making $34,000 per year". Unless you're up for some excitement to see just how bad identity theft can be.</p>
        
      </div>
      
    </div>
    
  </ion-content>
</ion-view>