<ion-view>
  <user-nav></user-nav>
  <!--
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  --> 
  
  <ion-content class="has-header">
    <h3 class="pageTitle"><i class="ionicons ion-plus-circled"></i> Add a List / To a List</h3>
    <div class="list list-inset">
      <form name="listForm">
        <label class="item item-input">
          <input type="text" name="title"
            placeholder="New List Title"
            ng-model="newList.title"
            required>
        </label>

        <button class="button button-block button-energized"
          ng-disabled="listForm.$invalid"
          ng-click="createList()">
          Create
        </button>
      </form>
    </div>
    
    <ion-list ng-repeat="list in $root.searchResults" ng-show="newList.title.length > 0">
      <ion-item class="item-icon-right" href="#/app/lists/{{list.lid}}" 
          ng-click="showList(list.lid, list.listname, null);">
        <ion-option-button class="button-assertive">
          Mine</ion-option-button>
        {{list.listname}} - ({{list.thecount}})
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>
