<ion-view>
  <user-nav></user-nav>
  <!--
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  --> 
  
  <ion-content class="has-header">
    <h1 class="pageTitle"><i class="ionicons ion-plus"></i> Add a List / To a List</h1>
    <div class="list list-inset addList">
      <form name="listForm">
        <div class="formText">
        <label class="item item-input">
          <input type="text" name="title"
            placeholder="New List Title"
            ng-model="newList.title"
            required/>
           
        </label>
        </div> 
        <div class="formButton">
          <button class="button button-block button-positive"
            ng-disabled="listForm.$invalid"
            ng-click="createList()">
            Create
          </button>
        </div> 
      </form>
    </div>
    
    <ion-list ng-repeat="list in $root.searchResults" ng-show="newList.title.length > 0">
      <ion-item class="item-icon-right" href="#/app/lists/{{list.lid}}" 
          ng-click="showList(list.lid, list.listname, null, 'addToList');">
        <ion-option-button class="button-assertive">
          Mine</ion-option-button>
        {{list.listname}} - ({{list.thecount}})
          <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>
