<ion-view>
  <user-nav></user-nav>
  
  <ion-content class="has-header">
    <h1 class="pageTitle"><i class="icon ion-chatbox"></i> Dittos &amp; Chats</h1>
    <!--       {{stats.feed}} -->

    
    <div class="list" ng-repeat="user in stats.feed">
      
      <user-list-thing store="stats.feed" source="chat" user-data="user"></user-list-thing>        
    </div>
    
    <!-- 
    == From user.
    <user-list-thing store="profileData.ditto" source="profile" user-data="user"></user-list-thing>  
    
    <div class="list card" ng-repeat="user in $root.thingData.items">
      <user-list-thing store="thingData.items" source="thing" user-data="user"></user-list-thing>        
    </div>
    

    # From List
      <div class="list card" ng-repeat="user in list.ditto">
        <user-list-thing store="list.ditto" source="list" user-data="user"></user-list-thing>
      </div>
    --> 
  </ion-content>
</ion-view>
