<ion-view>
  <ion-content class="has-header">
    <user-nav></user-nav>

    <h1 class="pageTitle"><i class="icon ion-document-text"></i> Plitto Documentation</h1>
    
    <div class="card">
      <div class="item item-divider">
        Overview
      </div>
      <div class="item item-text-wrap">
        
        <p>Plitto is a tool that you can use to have great conversations by finding things in common, or interesting things to talk about with your existing friends, and new friends.</p>
        <p>Conversations are made of listening, and celebrating what we share. Plitto helps you make conversations better by highligting things that matter to you.</p>
      </div>
    
    </div>
    
    <div class="card">
      <div class="item item-divider">
        Ditto
      </div>
      <div class="item item-text-wrap">
        
        <h4>You share this. (press to remove)</h4>
        <div class="ion-ios7-checkmark dittoA docIcon"></div>
        <h4>You don't have this. (press to 'ditto')</h4>
        <div class="ion-ios7-checkmark-outline dittoQ docIcon"></div>
        <p>This button removes or "dittos" this item for you. A ditto adds this item to your list, and creates that list for you if you don't already have it.</p>
        
      </div>
    
    </div>
    <div class="card">
      <div class="item item-divider">
        Lists
      </div>
      <div class="item item-text-wrap">
        
        
        <h4>List icon:</h4>
        <div class="ion-ios7-box-outline  docIcon"></div>
        
        <h4>Add to a list</h4>
        <div class="ion-plus-circled  docIcon"></div>
        <p>This button helps you create a list.</p>
        
      </div>
      
    </div>
    
    <div class="card">
      <div class="item item-divider">
        Strangers &amp; Friends
      </div>
      <div class="item item-text-wrap">
        <h4>Friend icon:</h4>
        <img ng-src='img/974-users@2x.png' style="height: 80px; width: 100px;"/>
        <p>A friend is someone who you've added as a connection in Facebook.</p>
        
        <p>Future: Plitto will have it's own set of connections.</p>
        
        <h4>Stranger icon:</h4>
        <img ng-src='img/769-male@3x.png' style="height: 100px; width: 100px;"/>
        
        <p>A stranger is a real person, but you don't know who they are. You can still comment and ditto their things as an easy way to build up your content.</p>
        
        <p>There will be a way to meet them in the future.</p>
        
      </div>
      
    </div>
    
  </ion-content>
</ion-view>