<ion-view>
  <ion-content class="has-header">
    <user-nav></user-nav>

    <h1 class="pageTitle"><i class="icon ion-document-text"></i> Plitto Documentation</h1>

    <div class="card">
      <div class="item item-divider">
        Overview
      </div>
      <div class="item item-text-wrap">

        <p>Plitto is a tool that you can use to have great conversations by finding things in common, or interesting things to talk about with your existing friends, and new friends.</p>
        <p>Conversations are made of listening, and celebrating what we share. Plitto helps you make conversations better by highligting things that matter to you.</p>
      </div>

    </div>

    <div class="card">
      <div class="item item-divider">
        Ditto
      </div>
      <div class="item item-text-wrap">
        <p>A "ditto" is a way of saying "me too". Use this to connect with people in ways that you want to connect. Be as serious or playful as you want. Nobody knows how to use Plitto yet, so go ahead and do whatever you want. You activity is only public to you, and the person you're dittoing from.</p>
        <div class='docLegend'>
          <div>
            <div><i class="ion-ios7-checkmark docIcon" style="color: green;"></i>
            </div>
            <div>
              This icon means you share this item within this context. Press to remove this item.
            </div>
          </div>

          <div>
            <div><i class="ion-ios7-checkmark-outline dittoQ docIcon"></i>
            </div>
            <div>
              You don't have this yet. Press it to ditto. A Ditto will add this item to your list of the same name, creating it if necessary.
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="card">
      <div class="item item-divider">
        Lists
      </div>
      <div class="item item-text-wrap">
        <p>Lists hold things and provide context for things. You may have an item in common with someone, but they may have it in the "I Love" list, and you may have it in the "Deal Breakers" list. The list context is valuable.</p>

        <div class='docLegend'>
          <div>
            <div><i class="ion-clipboard docIcon"></i>
            </div>
            <div>
              This is the list icon.
            </div>
          </div>

          <div>
            <div><i class="ion-plus-circled docIcon"></i>
            </div>
            <div>
              Press this to add a list, or find a list to add to.
            </div>
          </div>
        </div>


      </div>

      <div class="card">
        <div class="item item-divider">
          Strangers &amp; Friends
        </div>
        <div class="item item-text-wrap">
          <p>Plitto lets you interact with friends and Strangers. You can only see the identities of the people who you already know, but you can ditto things from strangers.</p>

          <div class='docLegend'>
            <div>
              <div><img ng-src='img/prod/974-users@2x.png' style="height: 80px; width: 100px;" />
              </div>
              <div>
                This is the icon for friends. Generally, we try to show you an actual picture, and not this generic icon.
              </div>
            </div>

            <div>
              <div><img ng-src='img/prod/769-male@3x.png' style="height: 100px; width: 100px;" />
              </div>
              <div>
                This is the stranger icon. You're looking at their items, but you can't see their identity.
              </div>
            </div>
          </div>

        </div>

  </ion-content>
</ion-view>