<ion-view title="Ditto Some Things">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  
<ion-nav-buttons side="right">
    <button class="button button-icon icon" style="background-image:url('img/130-dice.png'); background-repeat: no-repeat; background-size: 40px; width: 50px;" ng-click="getSome();"></button>
</ion-nav-buttons>
    
  <ion-content class="has-header">
    <div class="list card" ng-repeat="user in $root.bite">
      
      <user-list-thing store="bite" source="home" user-data="user"></user-list-thing>
        
    </div>
  </ion-content>
</ion-view>
