<ion-view title="Your Lists">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios7-plus-outline"
      ng-click="addListModal()">
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <p ng-show="!$root.lists.length">No lists yet. Add a list using the + button 
      <div class="button-bar" ng-show="!$root.lists.length"><a class="button" ng-click="loadLists();">Reload Lists</a></div>
    </p>
    
    <ion-list can-swipe="true">
      <ion-item class="item-icon-right" ng-repeat="list in $root.lists" href="#/app/lists/{{list.lid}}" ng-click="showList(list.lid, list.name, null);">
          <ion-option-button class="button-assertive"
            ng-click="deleteList(list)">Delete</ion-option-button>
        {{list.name}}
        <h3>ListID: {{list.lid}}</h3>
        <h6>Shared: {{list.shared}}</h6>
        <h6>Dittoable: {{list.dittoable}}</h6>
        <h6>Mine: {{list.mymembers}}</h6>
        <h6>Most Recent: {{list.mostrecent}}</h6>
        
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
