<ion-view>
  <user-nav></user-nav>
  
  <ion-content class="has-header">
    <h1 class="pageTitle"><i class="icon ion-clipboard"></i> {{$root.list.listName}}</h1>
    <form name="newItemForm" ng-submit="addToList(newItem.theValue);">
      <label class="item item-input">
        <input 
          type="text" 
          ng-model="newItem.theValue" 
          placeholder="Add to {{$root.list.listName}}"
          id="newListItemField"
        />
      </label>
      
    </form>
    
    <!-- <h3>{{$root.list.listName}}</h3> --> 
    <div class="button-bar">
      <a 
         class="button ion-ios7-checkmark-outline" 
         ng-class="{'active': $root.nav.listView ==='ditto'}" 
         ng-click="view('ditto');"></a>
      <a 
         class="button ion-ios7-checkmark dittoA" 
         ng-class="{'active': $root.nav.listView ==='shared'}" 
         ng-click="view('shared');"></a>
      <a class="button ion-ios7-pulse-strong" 
         ng-class="{'active': $root.nav.listView ==='feed'}" 
         ng-click="view('feed');"></a>
      <a class="button " 
         ng-class="{'active': $root.nav.listView ==='mine'}" 
         ng-click="view('mine');">
        <img ng-src="{{'http://graph.facebook.com/' + $root.user.fbuid + '/picture?height=30&width=30'}}">
        <!-- {{ $root.user.userName }}'s --> </a>
      <a class="button buttonStranger" 
         ng-class="{'active': $root.nav.listView ==='strangers'}" 
         ng-click="view('strangers');"></a>
      
    </div>
    <!-- <h2>Ditto length: {{list.ditto.length}}</h2>
    <span style="font-size: 0.1em; max-height: 15em;"> ::START::{{list}} ::END:: </span>
    -->
    
    <div ng-show="$root.nav.listView ==='ditto' ">
      <div ng-show="!list.ditto.length" class="noShow">No Dittoable Items to Show</div>

      <div class="list " ng-repeat="user in list.ditto">
        <user-list-thing store="list.ditto" source="list" user-data="user"></user-list-thing>
      </div>
    </div>
    
    <div ng-show="$root.nav.listView ==='shared' ">
      <div ng-show="!list.shared.length" class="noShow" ng-click="showList">No Lists? Check</div>
      
      <div class="list " ng-repeat="user in list.shared">
        <user-list-thing store="list.shared" source="list" user-data="user"></user-list-thing>
      </div>
    </div>
    
    <div ng-show="$root.nav.listView ==='strangers' ">
      <div ng-show="!list.strangers.length" class="noShow">No Strangers Have Items Worth Showing</div>
      
      <!-- ::START::{{list.strangers}} ::END:: -->
      <div class="list " ng-repeat="user in list.strangers">
        <user-list-thing store="list.strangers" source="list" user-data="user"></user-list-thing>
      </div>
    </div>
    
    <div ng-show="$root.nav.listView ==='mine' ">
      <!-- ::START::{{list.mine}} ::END:: -->
      <div ng-show="!list.mine.length" class="noShow">You have not items yet.</div>
      <div class="list " ng-repeat="user in list.mine">
        <user-list-thing store="list.mine" source="list" user-data="user"></user-list-thing>
      </div>
    </div>
    
    <div ng-show="$root.nav.listView ==='feed' ">
      <div ng-show="!list.feed.length" class="noShow">No Recent Items</div>
      <!-- ::START::{{list.feed}} ::END:: -->
      <div class="list " ng-repeat="user in list.feed">
        <user-list-thing store="list.feed" source="list" user-data="user"></user-list-thing>
      </div>
    </div>
    
    
  </ion-content>
</ion-view>