<ion-view>
  <user-nav></user-nav>
  
  <ion-content class="has-header">
    <h1 class="pageTitle"><i class="icon ion-clipboard"></i> {{listInfo.listName}}</h1>
    <form name="newItemForm" ng-submit="addToList(newItem.theValue);">
      <label class="item item-input">
        <input 
          type="text" 
          ng-model="newItem.theValue" 
          placeholder="Add to {{listInfo.listName}}"
          id="newListItemField"
        />
      </label>
      
    </form>
    
    <div class="button-bar">
      <a 
         class="button ion-ios7-checkmark-outline" 
         ng-class="{'active': view ==='ditto'}" 
         ng-click="setView('ditto');"></a>
      <a 
         class="button ion-ios7-checkmark dittoA" 
         ng-class="{'active': view ==='shared'}" 
         ng-click="setView('shared');"></a>
      <a class="button ion-ios7-pulse-strong" 
         ng-class="{'active': view ==='feed'}" 
         ng-click="setView('feed');"></a>
      <a class="button " 
         ng-class="{'active': view ==='mine'}" 
         ng-click="setView('mine');">
        <img ng-src="{{'http://graph.facebook.com/' + $root.user.fbuid + '/picture?height=30&width=30'}}">
      </a>
      <a class="button buttonStranger" 
         ng-class="{'active': view ==='strangers'}" 
         ng-click="setView('strangers');"></a>
    </div>
    
    
    <div ng-show="view ==='ditto' ">
      <div ng-show="!store.ditto.length" class="noShow">No Dittoable Items to Show</div>
      <div ng-show="store.ditto[0].loading" ><h1>LOADING</h1></div>
      <div class="list " ng-repeat="user in store.ditto">
        <user-list-thing store="store.ditto" source="list" user-data="user"></user-list-thing>
      </div>
    </div>
    
    <div ng-show="view ==='shared' ">
      <div ng-show="!store.shared.length" class="noShow" ng-click="showList">You have nothing in common with your friends in <b ng-bind="listInfo.listName"></b></div>
      <div ng-show="store.shared[0].loading" ><h1>LOADING</h1></div>
      <div class="list " ng-repeat="user in store.shared">
        <user-list-thing store="store.shared" source="list" user-data="user"></user-list-thing>
      </div>
    </div>
    
    <div ng-show="view ==='feed' ">
      <div ng-show="!store.feed.length" class="noShow">No Recent Items</div>
      <div ng-show="store.feed[0].loading" ><h1>LOADING</h1></div>
      <div class="list " ng-repeat="user in store.feed">
        <user-list-thing store="store.feed" source="list" user-data="user"></user-list-thing>
      </div>
    </div>
    
    <div ng-show="view ==='mine' ">
      <div ng-show="!store.mine.length" class="noShow">You have not items yet.</div>
      <div ng-show="store.mine[0].loading" ><h1>LOADING</h1></div>
      <div class="list " ng-repeat="user in store.mine">
        <user-list-thing store="store.mine" source="list" user-data="user"></user-list-thing>
      </div>
    </div>
    
    <div ng-show="view ==='strangers' ">
      <div ng-show="!store.strangers.length" class="noShow">No Strangers Have Items in This List</div>
      <div ng-show="store.strangers[0].loading" ><h1>LOADING</h1></div>
      <div class="list " ng-repeat="user in store.strangers">
        <user-list-thing store="store.strangers" source="list" user-data="user"></user-list-thing>
      </div>
    </div>
    
  </ion-content>
</ion-view>