<ion-view>
  
  <ion-content>
    <h1>Loading</h1>
    <button ng-click="showToken();">Show Token</button>
    <button ng-click="clearToken();">Clear Token</button>
    <button ng-click="setToken();">Set Token</button>
    <p>token: <div ng-bind="thetoken"></div></p>
  
    <button ng-click="setToken();">Set Token</button>
  
    <button ng-click="$root.debugOn = true; $root.debug('debugging is now on');">Debugging On</button>
    <button ng-click="$root.debug('debugging is now off'); $root.debugOn = false;">Debugging Off</button>
  <h1>Message</h1>
  <p ng-bind='$root.message'></p>
  
  <a href='#/login'>Back to login</a>
  <a href='#/app.home'>home</a>
  </ion-content>
</ion-modal-view>
