<ion-view title="">
  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
      <h3>Plitto</h3>
      <h4>Have better conversations</h4>
      
      <pre>See Items Posted by Friends and Strangers</pre>
      <pre>Ditto them or add to your Chat Queue</pre>
      
      <p>Swipe for More Info</p>
      
    </ion-slide>

    <ion-slide>
      <h3>Connections</h3>
      <div id="list">
        <ol>
          <li>Plitto uses your Facebook Friends who use Plitto as your friends</li>
          <li>You can also interact with strangers</li>
        </ol>
      </div>
    </ion-slide>

    <ion-slide>
      <h3>Add your Content</h3>
      <p>
        You can add content by 
      </p>
      <div id="list">
        <ol>
          <li>Create a new list <pre>ICON PLACEHOLDER</pre></li>
          <li>Add items to that list</li>
          <li>Ditto things that you see from your friends<pre>ICON PLACeHOLDER</pre></li>
        </ol>
      </div>
      
    </ion-slide>
    
    <ion-slide>
      <h3>Call or visit your friends. Have conversations.</h3>
      
      <div id="list">
        <ul>
          <li>Review info in the "Chat" or Alerts sections</li>
          <li>See conversations filtered in your friend list.</li>
          
        </ul>
      </div>
      
      <p>Login Below</p>
      
    </ion-slide>
    
     
  </ion-slide-box>

  <button class="button button-block button-positive"
    ng-click="loginOAuth('facebook')">
    Sign in with Facebook
  </button>
  
  <!-- <button class='button button-block button-royal' ng-click="force();">Test Token</button> -->
  
</ion-view>
