<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Plitto</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        
        <ion-item nav-clear menu-close href="#/app/profile/{{$root.user.userId}}" ng-click="showUser($root.user.userId, $root.user.userName, 'all', $root.user.fbuid);">
          <img src='http://graph.facebook.com/{{$root.user.fbuid}}/picture' class='title-image' style='padding: 0; margin-left: -15px; margin-top: -15px; margin-bottom: -30px; margin-right: 10px;'>
          {{user.userName}}
        </ion-item>
        
        <ion-item nav-clear menu-close href="#/app/friends">
          Friends
        </ion-item>
          
        <ion-item nav-clear menu-close href="#/app/home">
          Ditto
        </ion-item>
        
        
        <ion-item nav-clear menu-close href="#/app/lists" ng-click="loadLists(); nav.view = 'user.lists'; ">
          Lists
        </ion-item>
        
        <ion-item nav-clear menu-close href="#/app/search/" ng-click="nav.view = 'search'">
          Search
        </ion-item>
        
        <ion-item nav-clear menu-close href="#/app/feed" ng-click="nav.view = 'feed'">
          Feed
        </ion-item>
        
        
        
        <ion-item nav-clear menu-close href="#/app/addlist" ng-click="nav.view = 'addlist'">
          Add a list
        </ion-item>
        
        <ion-item nav-clear menu-close ng-click="logout()" href="#/login">
          Logout
        </ion-item>
        
        <div class="item item-divider">Beta</div>

        
        <ion-item nav-clear ng-click="deleteFBaccess()">
          Delete Plitto from Facebook
        </ion-item>
        
        <ion-item nav-clear menu-close href="#/app/debug">
          Debug
        </ion-item>
        
        
<!-- Not built / activated yet -->        
        <div class="item item-divider">Undone below</div>
        <ion-item nav-clear  ng-click="addListModal()">
          Add List Modal 
        </ion-item>
        
        
        
        
        <ion-item nav-clear >
          3rd Party
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
