<ion-view title="Profile">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1>{{profileData.userName}}</h1>
        
    <div class="button-bar">
      <a class="button" ng-click="nav.view = 'user.ditto'; getSome(profileData.userId);">Ditto</a>
      <a class="button" ng-click="nav.view = 'user.feed'; showFeed(profileData.userId,'');">Feed</a>
      <a class="button" ng-click="nav.view = 'user.lists'; showLists(profileData.userId);">Lists</a>
      <a class="button" ng-click="nav.view = 'user.milestones'">Milestones</a>
    </div>
    
    <div class="list card" ng-repeat="user in $root.profileData.feed" ng-show="nav.view==='user.feed'">
      <a class="item item-avatar" href="#/app/profile/{{user.uid}}" ng-click="showUser(user.uid,user.username,'profileData.feed');">
        <img src="http://graph.facebook.com/{{user.fbuid}}/picture">
        <h2>{{user.username}}</h2>
        <p>IN COMMON STATS?</p>
      </a>
      <div class="list" ng-repeat="list in user.lists">
        <div class="item item-divider" ng-click="showList(list.lid, list.listname, user.uid);">
          {{list.listname}}
        </div>
        <div class="item" ng-repeat="item in list.items">
            <div side="right" class="button"  style="font-size: 2.5em; float: right;" ng-class="{'ionicons ion-ios7-bolt' : item.mykey === 0 ,'ionicons ion-ios7-checkmark-outline' : item.mykey === null , 'ionicons ion-ios7-checkmark' : item.mykey > 0 }" ng-click="ditto(item.mykey, user.uid, list.lid, item.tid, $event,'profileData.feed');"></div>
          {{item.thingname}}
            
            
            <!-- TODO1 - Place this where it should go -->
            <h6>{{item.added}}</h6>
            
            <!-- TODO1 - Place this where it should go --> 
                <!-- TODO1 Add the mega-octicon font set - Remove "Typed" after --> 
            <h6 ng-show="item.dittouser === null" class="mega-octicon octicon-pencil">TYPED</h6>
            <h6 ng-show="item.dittouser !== null">dittoed from {{item.dittousername}}</h6>
            
            <!-- Style options: ios7-checkmark , ios7-checkmark-outline
                Not working: icon fa fa-spinner, 
            -->
<!-- TODO:
- Lock icon to the right
- Ditto action - BEn
- Change style of this item
--> 

                
           
            
             
        </div>
         <div class="item item-divider" style="text-align: center;">
            Ditto more from this list.
        </div>
      </div>
        
    </div>
    
    <div ng-show="nav.view==='user.lists'">
    
      <p ng-show="!$root.profileData.lists.length">No lists yet. Add a list using the + button 
        <div class="button-bar" ng-show="!$root.profileData.lists.length"><a class="button" ng-click="loadLists();">Reload Lists</a></div>
      </p>

      <ion-list can-swipe="true">
        <ion-item class="item-icon-right" ng-repeat="list in $root.profileData.lists" href="#/app/lists/{{list.lid}}" ng-click="showList(list.lid, list.name, null);">
            <ion-option-button class="button-assertive"
              ng-click="deleteList(list)">Delete</ion-option-button>
          {{list.name}}
          <h3>ListID: {{list.lid}}</h3>
          <h6>Shared: {{list.shared}}</h6>
          <h6>Dittoable: {{list.dittoable}}</h6>
          <h6>Mine: {{list.mymembers}}</h6>
          <h6>Most Recent: {{list.mostrecent}}</h6>

          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
    
    </div>
    
    
    
    <div ng-show="nav.view==='user.milestones'">Milestones</div>
    
    <div class="list card" ng-repeat="user in $root.profileData.ditto" ng-show="nav.view==='user.ditto'">
      <a class="item item-avatar" href="#/app/profile/{{user.uid}}" ng-click="showUser(user.uid,user.username,'profileData.ditto');">
        <img src="http://graph.facebook.com/{{user.fbuid}}/picture">
        <h2>{{user.username}}</h2>
        <p>IN COMMON STATS?</p>
      </a>
      <div class="list" ng-repeat="list in user.lists">
        <div class="item item-divider" ng-click="showList(list.lid, list.listname, user.uid);">
          {{list.listname}}
        </div>
        <div class="item" ng-repeat="item in list.items">
            <div side="right" class="button"  style="font-size: 2.5em; float: right;" ng-class="{'ionicons ion-ios7-bolt' : item.mykey === 0 ,'ionicons ion-ios7-checkmark-outline' : item.mykey === null , 'ionicons ion-ios7-checkmark' : item.mykey > 0 }" ng-click="ditto(item.mykey, user.uid, list.lid, item.tid, $event,'profileData.ditto');"></div>
          {{item.thingname}}
            
            
            <!-- TODO1 - Place this where it should go -->
            <h6>{{item.added}}</h6>
            
            <!-- TODO1 - Place this where it should go --> 
                <!-- TODO1 Add the mega-octicon font set - Remove "Typed" after --> 
            <h6 ng-show="item.dittouser === null" class="mega-octicon octicon-pencil">TYPED</h6>
            <h6 ng-show="item.dittouser !== null">dittoed from {{item.dittousername}}</h6>
            
            <!-- Style options: ios7-checkmark , ios7-checkmark-outline
                Not working: icon fa fa-spinner, 
            -->
<!-- TODO:
- Lock icon to the right
- Ditto action - BEn
- Change style of this item
--> 

                
           
            
             
        </div>
         <div class="item item-divider" style="text-align: center;">
            Ditto more from this list.
        </div>
      </div>
        
    </div>
    
  </ion-content>
</ion-view>
