<ion-view title=""  align-title="left">
  <user-nav></user-nav>
  
  
  <ion-content class="has-header">
    
    <img style="float: left; margin: 0;" ng-src="http://graph.facebook.com/{{profileData.fbuid}}/picture">
    <h3 style="margin: 0 0 0 1em; padding: 0;">{{profileData.userName}}</h3>
    
    <hr class="clearBoth"/>
    
<!-- User Menu Bar menu -->
  <div class="button-bar">
    <a class="button active" ng-class="{'active': nav.view ==='user.us'}" ng-hide="profileData.userId == user.userId" ng-click="nav.view = 'user.us'; ">Us</a>
    <a class="button" ng-class="{'active': nav.view ==='user.ditto'}" ng-hide="profileData.userId == user.userId" ng-click="nav.view = 'user.ditto'; getSome(profileData.userId,'ditto');">Ditto</a>
    
    <a class="button" ng-class="{'active': nav.view ==='user.feed'}" ng-click="nav.view = 'user.feed'; showFeed(profileData.userId,''); ">Feed</a>
    <a class="button" ng-class="{'active': nav.view ==='user.lists'}" ng-click="nav.view = 'user.lists'; showLists(profileData.userId); ">Lists</a>
    <!-- <a class="button" ng-class="{'active': nav.view ==='user.shared'}" ng-hide="profileData.userId == user.userId" ng-click="nav.view = 'user.shared';getSome(profileData.userId,'shared');">Queue</a> -->
        <a class="button" ng-class="{'active': nav.view ==='user.chat'}" ng-click="nav.view = 'user.chat'; userChat(profileData.userId); ">Chat</a>
    <!-- THIS HAS BEEN SUPERCEDED BY CHAT - Restore this <a class="button" ng-class="{'active': nav.view ==='user.milestones'}" ng-click="nav.view = 'user.milestones';">Milestones</a> --> 
  </div>
<!-- End menu --> 

<!-- Start US --> 
  <div class="list card" ng-show="nav.view==='user.us'">
    <h1>Us</h1>
    <ion-list style="max-width: 500px;">
      <ion-item class="item-divider">Our Stats</ion-item> 
        <ion-item>Shared Things<div style="float: right;">50</div></ion-item>
        <ion-item>Dittoable<div style="float: right;">15</div></ion-item>
        <ion-item>Dittos to Them<div style="float: right;">30</div></ion-item>
        <ion-item>Dittos from Them<div style="float: right;">15</div></ion-item>
        <ion-item>Pending Chats<div style="float: right;">3</div></ion-item>
        <ion-item>Complete Chats<div style="float: right;">2</div></ion-item>
        <ion-item>Shared Lists<div style="float: right;">2</div></ion-item>
      
      <ion-item class="item-divider">{{profileData.userName}}'s Stuff</ion-item> 
        
        <ion-item>Things <div style="float: right;">500</div></ion-item>
        <ion-item>Lists<div style="float: right;">15</div></ion-item>
        <ion-item>Friends<div style="float: right;">10</div></ion-item>
        <ion-item>Groups<div style="float: right;">15</div></ion-item>
        <ion-item>Feed</ion-item>
      
        
    </ion-list>
    
  </div>
<!-- End US --> 
    
<!-- Start the Feed-->
  <div class="list card" ng-repeat="user in $root.profileData.feed" ng-show="nav.view==='user.feed'">
    <user-list-thing store="profileData.feed" source="profile" user-data="user"></user-list-thing>   
  </div>
<!-- End the Feed -->
   
<!-- Start Ditto -->  
  <div class="list card" ng-repeat="user in $root.profileData.ditto" ng-show=" nav.view==='user.ditto' ">
    <user-list-thing store="profileData.ditto" source="profile" user-data="user"></user-list-thing>  
  </div>
<!-- End Ditto Section --> 
  
<!-- Start Shared -->  
  <div class="list card" ng-repeat="user in $root.profileData.shared" ng-show="nav.view==='user.shared'">
    <user-list-thing store="profileData.shared" source="profile" user-data="user"></user-list-thing>
  </div>
<!-- End Shared Section --> 
  
    
    
<!-- Start User Lists -->    
  <div ng-show="nav.view==='user.lists'">
    <list-of-lists store="profileData.lists" source="profile" lists-data="$root.profileData.lists"></list-of-lists>
  </div>
<!-- End User Lists -->   
  
<!-- Start Milestones -->    
  <div ng-show="nav.view==='user.chat'">
    <h3>Chat</h3>  
    
    
    
      <chat notifications-data="profileData.chat"></chat>
    
  </div>
<!-- End Milestones -->       
    
  </ion-content>
</ion-view>
 