<ion-view>
  <user-nav></user-nav>
  
  <ion-content class="has-header">
    <div class="searchLine">
      <form class="searchCell" name="searchForm" ng-submit="searchFor(search.term,'general');">
        <div class="icon ion-search placeholder-icon"></div>
        <label class="item-input" >
         <input 
            type="text" 
            ng-model="search.term" 
            style="font-size: 1.2em;" 
            placeholder="Search Here"
            id="searchField"
            class="userInput"
            autofocus
          />
        </label>
        
        <div class="clearSearch" ng-hide="!search.term.length"><button 
             class="icon ion-close-circled clearSearch" 
             ng-click="emptyTheSearch();"
             >
        </button></div>
        
          <!-- It's a fake button! ng-click="search(search.term, 'general');"
          <button 
               class="icon ion-search" 

               ng-hide="!search.term.length"></button> --> 

      </form>
        
    </div>
    <h4 class="viewContext" ng-show="!search.results.length && search.term.length ">No Search Results</h4>
    <h4 class="viewContext" ng-show="!search.term.length "><i class='ion-arrow-up-c'></i> Search Above</h4>
    <h4 class="viewContext" ng-show="search.results.length && search.term.length ">Results for <b>{{search.term}}</b></h4>
    
<!-- Start Search Results -->     
    <div ng-repeat="section in search.results" ng-show="search.term.length > 0">
      <h4 class="viewContext secondary" ng-bind="section.title"></h4>
      
      <ion-list can-swipe="true" ng-show="section.type === 'thing' ">
        <div class="item" ng-repeat="item in section.results">
            <div  ng-click="showThing(item.nameId, item.itemName, 0);">
              {{item.itemName}} - {{item.itemCount}}
            </div>
        </div>
      </ion-list>
      
      <ion-list can-swipe="true" ng-show="section.type === 'list' ">
        <ion-item 
                  class="item-icon-right" 
                  ng-repeat="list in section.results" 
                  ng-click="showList(list.nameId, list.itemName, null, 'addToList');">
            <!--<ion-option-button class="button-assertive"
              ng-click="">Mine</ion-option-button> -->
              {{list.itemName}}<span ng-show="item.itemCount.length"> - {{item.itemCount}}</span>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
      
    </div>
<!-- End Search Results -->     
    
  </ion-content>
</ion-view>
 
