body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.slider {
  height: 85%;
}

.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}

div.commentCount {
  float: right;
  margin-top: -47px;
  padding: 0;
  min-width: 20px;
  height: 20px;
  font-size: 0.5em;
}

img.title-image {
  float: left;
}

span.hint {
  font-size: 0.5em;
  color: rgba(100,100,100,0.5);
}

div.userLine, a.userLine {
  padding: 0 0 0 2.6em;
  min-height: 45px !important;
  background-color: #32868C;
  border: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
}

a.userLine > h2 {
  color: #fff;
  padding: 5px;
}

a.userLine > img {
  top: 0px !important;
  left: 0px !important;
  /* border-radius: 0; */
  padding: 0;
  margin: 0;
  float: left;
}

div.button-bar > a.active {
  border: solid 3px #F49653;
  padding: -3px;
}

ion-nav-bar.nav-bar {
  background-color: #DEDDD9 !important;
}

div.gridItem {
  width: 155px;
  height: 190px;
  float: left;
  border: 1px solid rgba(100,100,100,0.5);
  margin: 3px;
  box-shadow: 5px 5px 2px -4px rgba(0,0,0,0.52);
}

table.gridHeader {
  height: 50px;
  max-height: 50px;
  width: 100%;
  border-bottom: 1px solid rgba(150,150,150, 0.8);
  padding: 5px;
  color: #000;
}

td.gridProfile {
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: 50px;
}

td.gridTitle {
  text-overflow: ellipsis;
  font-size: 0.9em;
  padding-left: 0.5em;
  text-rendering: geometricPrecision;
  /* Formal grammar: auto | optimizeSpeed | optimizeLegibility | geometricPrecision */
}

table.gridStats {
  margin: 5px;
}



table.gridStats td.statValue {
  text-align: right;
}

span.statLabel {
  font-size: 0.7em;
}

a.statStandard,
a.statShared {
  width: 100px;
  display: block;
  text-align: center;
  margin: 2px;
}

a.statStandard {
  border: 2px solid gray;
  background-color: rgba(200,200,200,0.5);
}

a.statShared {
  border: 2px solid green;
  background-color: rgba(200,255,200,0.5);
}

div.itemButtons > div.button {
  width: 60px;
  height: 35px;
  padding: 0;
  line-height: 0.5em;
}


span.buttonCaption {
  font-size: 0.2em;
  border: 1px solid red;
  text-align: center;
  font-family: sans-serif, verdana;
}

.item.wrap,
.item-content.wrap {
  white-space: normal;
}


section.statTable > header {
  background-color: #888;
}

section.statTable > div > div.theStat {
  min-width: 2em;
  text-align: right;
}

section.statTable > div > div {
  padding: 0.3em;
  border-bottom: 1px solid grey;
}

hr.clearBoth {
  clear: both;
  height: 0px;
  border: 0px; 
}

span.innerNo {
  color: white;
  text-shadow: 0 0 3px #B0B0B0;
  position: relative;
  z-index: 2;
  top: -34px;
  left: -17px;
  text-align: right;
  width: 30px;
  margin-right: -35px;
  font-size: 0.9em;
} 

div.topicLine {
  width: 100%;
  padding: 0.2em;
  color: white;
}

/* Notifications Section */

.noteIcon {
  padding: 0.2em;
  font-size: 2em;
  position: relative;
  left: -25px;
  top: 20px;
  float: left;
}

/* The div for users to show */



div.userImage {
  float: left;
}

img.bigUser {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 1;
}

img.smallUser {
  position: relative;
  left: -30px;
  top: 5px;
  z-index: 2;
  height: 30px;
  width: 30px;
}

a.buttonStranger {
  background-image: url('../img/769-male@3x.png') !important;
  background-repeat: no-repeat;
  background-size: 30px;
  
  background-position: center;
  
  
}



button.iconDice {
  width: 38px;
  background-image: url('../img/130-dice.png') !important;
  background-repeat: no-repeat !important;
  background-size: 35px;
  padding: 50px;
}

.unread {
  background-color: rgba(200,255,200,0.5);
}


span.notificationDate {
  color: #999;
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 0.8em;
  float: right;
  display: block;
}

div.notificationContext {
  position: relative;
  vertical-align: text-top;
  padding-bottom: 20px;
  padding-left: 120px;
  margin-left: 0px;
}



div.sourceText {
  padding: 0.1em 4em 0.1em 1em;
  font-size: 0.8em;
  background-color: #32868C;
  min-width: 1s0%;
  margin-left: -75px;
  float: left;
  color: white;
}

span.notificationNote {
  font-style: italic;
}

div.dittoList {
  padding: 30px 1em 0.3em 0em;
  border-bottom: 1px solid #c0c0c0;
}

div.dittoThing {
  vertical-align: text-top;
  font-size: 1.2em;
  padding: 0.5em;
}

span.label {
  font-size: 0.5em;
  font-weight: 100;
}

div.colStat {
  
  text-align: center;
  margin-right: 5px;
  
  /* Google Material Design Clone */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  
  min-width: 50px;
  max-width: 75px;
  float: right;
  font-weight: 600;
  font-size: 1.3em;
  padding: 3px;;
}

div.colPush {
  
}

h1.pageTitle,
h3.pageTitle {
  padding: 10px 0 5px 10px;
  font-size: 1.7em;
  margin: 0;
}


/* User / List / Thing Styling */


div.userBlock > a.item, div.listBlock > div.item {
  border: 0;
}


div.listBlock {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border: 1px solid #3FA8B0;
  margin: 3px;
  padding: 0;
  border-radius: 10px;
  background-color: #ccc;
  
}

div.listBlock > div.item {
  
  
  
}

div.listLine, div.endOfList {
  background-color: #3FA8B0;
  margin: 0;
  padding: 4px; 
  border: 0px;
  /* TODO2 - Pad the listline */
}

div.endOfList {
  height: 10px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

div.button-bar > a.button {
  font-size: 2em;
}

div.recent {
  font-size: 0.7em;
  
  margin-left: 1em;
  color: #bbb;
  font-weight: 100;
  
  
}

div.thingRow {
  padding-bottom: 5px;
  margin: 0;
  padding: 4px;
  border: 1px solid red;
}

div.row {
  padding: 0;
  margin: 0;
}

div.row > div.col {
  padding: 0;
  
}

div.commentsSection {
  font-style: italic;
  font-size: 0.8em;
  padding: 0;
}

div.commentsSection > button {
  background-color: blue;
}

div.dittoButton {
  font-size: 37px;
  float: right;
  margin-right: 0;
}

div.letsChatIcon {
  /* background-image: url("../img/lets_chat2.png");
  background-size: 65px 42px;
  background-repeat: no-repeat;
  background-position: center;
  display: block; */
  font-size: 35px;
}

div.commentButton {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 25px;
  padding: 1em;
}

div.friendsWith {
  float: left;
  font-size: 0.8em;
}

div.commentRow {
  border-top: 1px solid #ddd;
  margin-top: 5px;
  padding: 5px;
}

div.letsChat > active {
  background-color: #bcc;
}

div.commentProfile {
  padding: 0;
  margin: 7px 0 0 0;
  height: 20px;
  
}

div.commentsSection > form {
  background-color: red;
  padding: 0;
  margin-top: 1px;
}

div.commentProfile > img {
  height: 20px;
  width: 20px;
}

input#addCommentText {
  font-style: normal;
}

div.thingNameRow {
  padding: 10px;
}

div.commentsSection  > div > button , div.commentsSection  > form > label > button {
  width: 3.3em;
  margin: 0.3em;
  
}

div.listLine > i {
  font-size: 1.8em;
  float: left;
  margin-right: 0.3em;
}

div.listLine > span {
  vertical-align: middle;
  font-size: 1.2em;
}

/* list item */
div.list > div.listItem {
  margin: 3px;
  /* border-radius: 0.3em; */ 
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); */
}



div.card {
  padding: 0px;
  margin: 5px;
}