.slider {
  height: 85%;
}

.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;
}
#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}

img.title-image {
  float: left;
}

span.hint {
  font-size: 0.5em;
  color: rgba(100,100,100,0.5);
}

div.button-bar > a.active {
  border: solid 3px #F49653;
  padding: -3px;
}

ion-nav-bar.nav-bar {
  background-color: #DEDDD9 !important;
}

/* Buttons in the nav bar */
  div.right-buttons {
    margin: 0;
    padding: 0;
    height: 3em;
  }

  div.right-buttons > span > button.button {
    /*  */
    max-height: 35px;
    padding: 0 0.2em 0 0.2em !important;
    
  }

  a.button > div.buttonRefresh {
    float: right;  
    font-size: 0.8em;
    margin-top: 0.3em;
  }

span.statLabel {
  font-size: 0.7em;
}

a.statStandard,
a.statShared {
  width: 100px;
  display: block;
  text-align: center;
  margin: 2px;
}

a.statStandard {
  border: 2px solid gray;
  background-color: rgba(200,200,200,0.5);
}

a.statShared {
  border: 2px solid green;
  background-color: rgba(200,255,200,0.5);
}

div.itemButtons > div.button {
  width: 60px;
  height: 35px;
  padding: 0;
  line-height: 0.5em;
}




.item.wrap,
.item-content.wrap {
  white-space: normal;
}


section.statTable > header {
  background-color: #888;
}

section.statTable > div > div.theStat {
  min-width: 2em;
  text-align: right;
}

section.statTable > div > div {
  padding: 0.3em;
  border-bottom: 1px solid grey;
}

hr.clearBoth {
  clear: both;
  height: 0px;
  border: 0px; 
}

span.innerNo {
  color: white;
  text-shadow: 0 0 3px #B0B0B0;
  position: relative;
  z-index: 2;
  top: -36px;
  left: -17px;
  text-align: right;
  width: 30px;
  margin-right: -35px;
  font-size: 0.6em;
} 

div.topicLine {
  width: 100%;
  padding: 0.2em;
  color: white;
}

/* Notifications Section */

.noteIcon {
  padding: 0.2em;
  font-size: 2em;
  position: relative;
  left: -25px;
  top: 20px;
  float: left;
}

/* The div for users to show */



div.userImage {
  float: left;
}

img.bigUser {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 1;
}

img.smallUser {
  position: relative;
  left: -30px;
  top: 5px;
  z-index: 2;
  height: 30px;
  width: 30px;
}

a.buttonStranger {
  background-image: url('../img/769-male@3x.png') !important;
  background-repeat: no-repeat;
  background-size: 30px;
  
  background-position: center;
  
  
}



.unread {
  background-color: rgba(200,255,200,0.5);
}


span.notificationDate {
  color: #999;
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 0.8em;
  float: right;
  display: block;
}

div.notificationContext {
  position: relative;
  vertical-align: text-top !important;
  padding-bottom: 20px;
  padding-left: 120px;
  margin-left: 0px;
}



div.sourceText {
  padding: 0.1em 4em 0.1em 1em;
  font-size: 0.8em;
  background-color: #32868C;
  min-width: 1s0%;
  margin-left: -75px;
  float: left;
  color: white;
}

span.notificationNote {
  font-style: italic;
}

div.dittoList {
  padding: 30px 1em 0.3em 0em;
  border-bottom: 1px solid #c0c0c0;
}

div.dittoThing {
  vertical-align: text-top ;
  font-size: 1.2em;
  padding: 0.5em;
}

span.label {
  font-size: 0.5em;
  font-weight: 100;
}

div.colStat {
  
  text-align: center;
  margin-right: 5px;
  
  /* Google Material Design Clone */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  
  min-width: 50px;
  max-width: 75px;
  float: right;
  font-weight: 600;
  font-size: 1.3em;
  padding: 3px;;
}

div.colPush {
  
}

h1.pageTitle,
h3.pageTitle {
  padding: 10px 0 5px 10px;
  font-size: 1.7em;
  margin: 0;
}


/* User List Things touched after 1/19/2015 */


/* User / List / Thing Styling */


div.userBlock > a.item, div.listBlock > div.item {
  
}


div.listBlock {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin: 0.9em 0.5em 0.1em 0.5em; /* Determines the spacing between each user/list pair. */
  background-color: #ccc;
  border-radius: 0.3em;
}

div.userLine, a.userLine {
  padding: 0.2em 0 0.2em 2.6em;
  min-height: 2.1em;
  background-color: #32868C;
  border: 0 !important;
  border-bottom: 1px solid #32868C !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  margin-left: -1px !important;
  margin-right: -1px !important;
}

div.endOfList {
  background-color: #32868C;
  margin: 5px -2px 0 -2px;
  padding: 6px;
}

a.userLine > h2 {
  color: #fff;
  padding: 7px;
}

a.userLine > img {
  top: 0px !important;
  left: 0px !important;
  /* border-radius: 0; */
  padding: 0;
  margin: 0;
  float: left;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}


div.listLine {
  background-color: #393E3C;
  border: 0;
  color: #fff;
  margin: 0;
  z-index: 0;
  font-weight: 100;
  border: 0px;
  font-size: 1.0em;
  /* TODO2 - Pad the listline */
}

/* This is the list name. */
div.listLine > span {
  
  
}

div.endOfList {
  height: 10px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* The button bar is used on the profile and list.  */
  div.button-bar > a.button {
    font-size: 2em;
  }

  div.button-bar > a.button > div.buttonBarRefresh {
    background-color: blue;
  }

div.recent {
  font-size: 0.7em;
  
  color: #bbb;
  font-weight: 100;
  padding-left: 1em;
}

div.dittoCol {
  padding: 2em;
  font-size: 3em;
} 

div.friendsWith {
  float: left;
  font-size: 0.8em;
}

div.letsChat > active {
  background-color: #bcc;
}


div.listLine > i {
  font-size: 1.8em;
  float: left;
  margin-right: 0.3em;
}

div.listLine > span {
  vertical-align: middle;
  font-size: 1.2em;
}

/* list item */
div.listBlock > div.listItem {
  margin: 0.3em 0.3em 0.6em 0.3em;
  padding: 0;
  border: 0;
  border-radius: 0.3em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); 
}



/* Ditto icon - Potential; */
div.dittoQ {
  color: #000;
}

/* Ditto icon - Waiting for server response; */
div.dittoW {
  color: #999;
}

/* Ditto icon - You have this in common; */
div > a.dittoA, div.dittoA {
  color: green;
  
}

/* Docs */
div.docIcon {
  font-size: 4em;
  text-align: left; 
}

/* Thing Name Row within Thing Name */
div.thingTable { display: table; } 

  div.thingNameRow {
    display: table-row;
    width: 100%;
  }

  div.thingNameRow > div {
    display: table-cell;
  }

    div.thingNameRow > div.thingNameCol {
      width: inherit;
      
      /* Todo2 - Better Formatting on this. */
      padding: 0;
      margin: 0;
      
      vertical-align: top;
    }

    /* Thing Name Formatting */
    div.thingNameRow > div.thingNameCol > span.thingNameText {
      font-size: 1.2em;
      /* Todo2 - Better Formatting on this. */
      padding: 0.7em;
      float:inherit;
      display: block;
      margin: 0;
    }

  /* friends with count styling */
  div.thingNameRow > div.thingWithCol {
    
    
  }

  div.thingNameRow > div.dittoCol {
    
  }

  div.thingNameRow > div {
    padding: 5px;
    
  }


/* Comment Row within User List Thing */
div.commentRow {
  display: table-row;
  width: 100%;
}

div.commentRow > div {
  padding: 0.3em;
  border-top: 1px solid #ccc;
  display: table-cell;
}

  div.commentRow > div.commentButton {
    
    width: 1em;
    font-size: 1.5em;
  }

  div.commentRow > div.commentInactiveButton {
    
    width: inherit;
  }
  
  div.commentRow > div.commentProfile {
    
  }
  
  div.commentRow > div.commentText {
    /* TODO2 there is an inexplicable 15px padding at the top of this seciton */
    width: inherit; /* makes it take the whole line. */
    padding: 0;
    margin: 0;
  }


  div.commentRow > div.commentText > div.commentsSection   {
    
  }

  div.commentRow > div.commentText > div.commentsSection > form > label.item > button.button,
  div.commentRow > div.commentText > div.commentsSection > div > button.button {
    float: right;
    
  }

/* Comment Edit Button */
div.commentRow > div.commentText > div.commentsSection > div > button.button {
  margin: 0.3em;
  padding: 0;
  width: 3em;
}

div.commentRow > div.commentText {
  padding: 0;
  margin: 0; 
}

/* Comment Text */
div.commentRow > div.commentText > div.commentsSection > div > span {
  padding: 12px;
  display: block;
  font-style: italic;
}

div.commentRow > div.commentText > div.commentsSection > div {
  min-height: 3.2em; /* Makes the text clickable anywhere on the line */
  height: inherit;
}

div.commentRow > div.commentText > div.commentsSection > form   {
  
}

/* Done Button */
div.commentRow > div.commentText > div.commentsSection > form > label.item > button  {
  margin: 0;
  float: right;
}



div.commentRow > div.commentText > div.commentsSection > form > label.item  {
  margin: 0;
  padding: 12px;
}

/* removes the border around the text being edited. */
div.commentRow > div.commentText > div.commentsSection > form > label.item > input#addCommentText {
  margin: 0;
  padding: 0;
  font-size: 1.0em;
  height: 3em;
  width: inherit;
}
