<p ng-show="!listsData.length">No lists yet. Add a list using the + button 
  <div class="button-bar" ng-show="!listsData.length"><a class="button" ng-click="loadLists();">Reload Lists</a></div> 
</p>

<ion-list>
  <ion-item ng-repeat="list in listsData" ng-click="showList( list.lid, list.name, null);">
    <!-- 
    <div class="row">
      
      
      <div class="col col+20 item-text-wrap lolName">
        <i class="icon ion-ios7-box-outline"></i> {{list.name}}<br/>
        <div class="recent" am-time-ago="list.mostrecent"></div>
      </div> 
      
      <div class="col colStat">
        <span class="label">Shared</span><br/>
        <span class="stat">{{list.shared}}</span>
      </div>
      <div class="col colStat">
        <span class="label colStat">Dittoable</span><br/>
        <span class="stat">{{list.dittoable}}</span>
      </div>
      
    </div>
    --> 
    <ion-list class="friendList">
      <ion-item ng-repeat="list in listsData" 
        ng-click="showList( list.lid, list.name, null);">
        <div class="statTable">
          <div class="statRow">
            <div class="listIcon">
              <i class="ionicons ion-ios7-box-outline"></i>
            </div>
            <div class="groupStats">
              <div ng-bind=" list.name " class="listName"></div>
              <div class="statBlock">
                
                <div class=" colStat ">
                  <i class="ionicons ion-ios7-checkmark " style="color: green;"></i>
                  <span class="label">Shared</span><br/>
                  <span class="stat">{{list.shared}}</span>
                </div>
                <div class=" colStat ">
                  <i class="ionicons ion-ios7-checkmark-outline dittoQ"></i>
                  <span class="label colStat">Dittoable</span><br/>
                  <span class="stat">{{list.dittoable}}</span>
                </div>
                
                <div class=" colStat ">
                  <i class="ionicons ion-ios-timer-outline"></i>
                  <span class="label colStat">Latest Add</span><br/>
                  <span class="stat" am-time-ago="list.mostrecent"></span>
                </div>
                
                <!-- 
                <div class=" colStat ">
                  
                  <span class="label">Lists</span><br/>
                  <span class="stat">{{friend.lists}}</span>
                </div>
                -->
              </div>
            </div>
          </div>
        </div>
        
      </ion-item>
    </ion-list>
    
    
    
  </ion-item>
</ion-list>


<!--
<div ng-repeat="list in listsData" href="#/app/list/{{list.lid}}" ng-click="showList( list.lid, list.name, null);" class="gridItem">
  <table class="gridHeader" style="background-color: #3FA8B0;">
    <tr class="listLine">
    <td class="gridTitle" ng-bind=" list.name "></td></tr>
  </table>

  <table class="gridStats">
    <tr>
      <th rowspan="4" class="statGroup">Items</th>
      <td class="statValue"><a class="statShared">{{list.shared}} <span class="statLabel">Shared</span></a></td>
    </tr>

    <tr>
      <td class="statValue"><a class="statStandard">{{list.dittoable}} <span class="statLabel">Dittoable</span></a></td>
    </tr>
    
    <tr>
      <td class="statValue"><a class="statStandard">{{list.mymembers}} <span class="statLabel">Mine</span></a></td>
    </tr>
    
    <tr>
      <td class="statValue"><a class="statStandard" style="font-size: 0.6em;">{{list.mostrecent}} <span class="statLabel">Newest</span></a></td>
    </tr>

  </table>

</div>