<ion-view cache-view="false">
  <user-nav></user-nav>

  <ion-content class="has-header">
    <h1 class="pageTitle"><i class="icon ion-clipboard"></i> {{listInfo.listName}}</h1>
    <form name="newItemForm" ng-submit="addToList(newItem.theValue);">
      <label class="item item-input" id="addToList">
        <input type="text" ng-model="newItem.theValue" placeholder="Add to {{listInfo.listName}}" id="newListItemField" class="userInput" />
        <button ng-click="submit();">
          <i class="ion-android-add"></i>
        </button>
      </label>

    </form>

    <div class="button-bar">
      <a class="button ion-ios-checkmark-outline" ng-class="{'active': view ==='ditto'}" ng-click="setView('ditto');">
        <div class="  ion-refresh buttonRefresh" ng-show="view === 'ditto' "></div>
      </a>
      <a class="button ion-ios-checkmark dittoA" ng-class="{'active': view ==='shared'}" ng-click="setView('shared');">
        <div class="  ion-refresh buttonRefresh" ng-show="view === 'shared' "></div>
      </a>
      <a class="button ion-ios-pulse-strong" ng-class="{'active': view ==='feed'}" ng-click="setView('feed');">
      </a>
      <a class="button buttonProfilePic" ng-class="  {'active': view ==='mine'}" ng-click="setView('mine');" style='background-image: url("http://graph.facebook.com/{{$root.user.fbuid}}/picture?height=50&width=50");'>
      </a>
      <a class="button buttonStranger" ng-class="{'active': view ==='strangers'}" ng-click="setView('strangers');">
        <div class=" ionicons ion-refresh buttonRefresh" ng-show="view === 'strangers' "></div>
      </a>
    </div>


    <div ng-show="view ==='ditto' ">
      <h4 class="viewContext">Dittoable List Items</h4>
      <div ng-show="!store.ditto.length" class="noShow">No Dittoable Items to Show</div>
      <h4 class="loading" ng-show="store.ditto[0].loading">
        <i class="ion-loading-a"></i>Loading Dittoable</h4>
      <div class="list " ng-repeat="user in store.ditto">
        <user-list-thing store="store.ditto" source="list" user-data="user"></user-list-thing>
      </div>
    </div>

    <div ng-show="view ==='shared' ">
      <h4 class="viewContext">Shared List Items</h4>
      <div ng-show="!store.shared.length" class="noShow" ng-click="showList">You have nothing in common with your friends in <b ng-bind="listInfo.listName"></b>
      </div>
      <h4 class="loading" ng-show="store.shared[0].loading">
        <i class="ion-loading-a"></i>Loading Shared</h4>
      <div class="list " ng-repeat="user in store.shared">
        <user-list-thing store="store.shared" source="list" user-data="user"></user-list-thing>
      </div>
    </div>

    <div ng-show="view ==='feed' ">
      <h4 class="viewContext">List Activity</h4>
      <div ng-show="!store.feed.length" class="noShow">No Activity for {{listInfo.listName}}</div>
      <h4 class="loading" ng-show="store.feed[0].loading ">
        <i class="ion-loading-a"></i>Activity</h4>
      <div class="list " ng-repeat="user in store.feed">
        <user-list-thing store="store.feed" source="list" user-data="user"></user-list-thing>
      </div>
    </div>

    <div ng-show="view ==='mine' ">
      <!-- TODO2 - It can get hung here. store.mine.length: {{store.mine | json }} {{store.mine.length}} -->
      <h4 class="viewContext">Your List Items</h4>
      <div ng-show="!store.mine.length" class="noShow">You have not added anything to {{listInfo.listName}}. Use the form above to do that.</div>
      <h4 class="loading" ng-show="store.mine[0].loading">
        <i class="ion-loading-a"></i>Loading Mine</h4>
      <div class="list " ng-repeat="user in store.mine">
        <user-list-thing store="store.mine" source="list" user-data="user"></user-list-thing>
      </div>
    </div>

    <div ng-show="view ==='strangers' ">
      <h4 class="viewContext">List Items from Strangers</h4>
      <div ng-show="!store.strangers.length" class="noShow">No Strangers Have Added To {{listInfo.listName}}</div>
      <h4 class="loading" ng-show="store.strangers[0].loading">
        <i class="ion-loading-a"></i>Loading Strangers'</h4>
      <div class="list " ng-repeat="user in store.strangers">
        <user-list-thing store="store.strangers" source="list" user-data="user"></user-list-thing>
      </div>
    </div>

  </ion-content>
</ion-view>
