<ion-nav-buttons side='right'>
  <button 
    class='button button-icon icon' 
    style="background-image:url('img/130-dice.png'); background-repeat: no-repeat; background-size: 40px; width: 50px;" 
    ng-click="getSome();">15</button>
  
  <button 
    class='button button-icon icon' 
    style="background-image:url('img/130-dice.png'); background-repeat: no-repeat; background-size: 40px; width: 50px;" 
    ng-click="getSome();">15</button>
  
  <button 
    class='button button-icon icon' 
    style="background-image:url('img/130-dice.png'); background-repeat: no-repeat; background-size: 40px; width: 50px;" 
    ng-click="getSome();">15</button>
  
  <button 
    class='button button-icon icon' 
    style="background-image:url('img/130-dice.png'); background-repeat: no-repeat; background-size: 40px; width: 50px;" 
    ng-click="getSome();">15</button>
</ion-nav-buttons>