<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

<ion-nav-buttons side='right'>
 
  <!-- <ion-item nav-clear menu-close href="#/app/addlist" ng-click="nav.view = 'addlist'"> --> 
  
  <button 
    class="button button-icon icon ionicons ion-plus-circled" 
    ng-click=" navFunc('addlist'); "></button>
  

  <!-- 
  <button 
    class="button button-icon icon ionicons ion-checkmark-circled" ></button>
  --> 

  <button 
    class="button button-icon icon ionicons ion-chatbox" ng-click="navFunc('chat');"><span class="innerNo">15</style></button>
  
  <button 
    class='button button-icon icon' 
    style="background-image:url('img/130-dice.png'); background-repeat: no-repeat; background-size: 40px; width: 50px;" 
    ng-click="navFunc('home'); getSome();">15</button>
  
  <!-- href="#/app/search/" ng-click="nav.view = 'search'" --> 
  <button 
    class="button button-icon icon ionicons ion-search" ng-click="navFunc('search');" ></button>
  
</ion-nav-buttons>