<a class="item item-avatar userLine"  ng-click="showUser(userData.uid,userData.username,'ditto', userData.fbuid);">
  <img ng-src="{{ userData.uid === '0' && 'img/135-hockeymask.png' || 'http://graph.facebook.com/' + userData.fbuid + '/picture' }}"/>
  <h2>{{userData.username}}</h2>
  <p>IN COMMON STATS?</p>
</a>
<div class="list" ng-repeat="list in userData.lists">
  <div class="item item-divider listLIne" ng-click="showList(list.lid, list.listname, userData.uid); testFunction();">
    {{list.listname}}
  </div>
  <div class="item" ng-repeat="item in list.items">
    <div style="float: right;">
      <div 
        class="button" 
        style="float: right; margin-left: 4px;"
        ng-click="letsChat(userData.uid, list.lid, item.tid, $event, store, $index); "
       >
        <div class="letsChatIcon ionicons ion-ios7-chatboxes-outline"></div>
        <div class="commentCount" ng-bind="item.comments.length"></div>
      </div>
      
      <div 
           class="button"
           style="float: right;"
           ng-click="ditto(item.mykey, userData.uid, list.lid, item.tid, $event, store);">
        <div class="dittoButton"
           ng-class="{'ionicons ion-ios7-bolt' : item.mykey === 0 ,'ionicons ion-ios7-checkmark-outline' : item.mykey === null , 
                     'ionicons ion-ios7-checkmark' : item.mykey > 0 }">
        </div>
        
      </div>
      
    </div>
    
    <div ng-click="showThing(item.tid, item.thingname, userData.uid);" class="item-text-wrap">
      <!-- <div class="button ionicons ion-ios7-arrow-down" style="float: right;" ng-click="showButtons($event);"></div> --> 
      {{item.thingname}}
      <h6 style="display: none;">{{item.added}}</h6> 
      <!-- <h6 ng-show="item.dittouser === null" class="mega-octicon octicon-pencil">_</h6> -->
      <h6 ng-show="item.dittouser !== null">dittoed from {{item.dittousername}}</h6>
    </div>
    
    <div class="commentsSection" id="comments{{userData.uid}}{{list.lid}}{{item.tid}}">
      <span class="hint">Add a note:</span><br> 
      <!-- {{item.comment}} | {{item.comment.length === null }} | {{item.comment === null}} | {{item.comment === "null" }} | {{item.comment.length}} -->
      <div style="clear: both;" ng-hide=" item.comment === 'null' || item.comment.length === 0 || item.comment === null " >
        <img ng-src="http://graph.facebook.com/{{$root.user.fbuid}}/picture?height=30&width=30" style="float: left; margin-right: 10px;"/>
        <span style="float: left;"> {{item.comment}} </span> <button type="button" ng-click=" newComment.theValue = item.comment; item.comment = null; " style="float: right;">Edit</button>
      </div>
      
      <form name="itemComment" ng-submit="makeItemComment(newComment.theValue, userData.uid, list.lid, item.tid, store, $index ); newComment.theValue = null; " style="clear: both;" 
        ng-show=" item.comment === 'null' || item.comment.length === 0 || item.comment === null " >
        
        <label class="item item-input">
          <img ng-src="http://graph.facebook.com/{{$root.user.fbuid}}/picture?height=30&width=30" style="float: left; margin-right: 10px;"/>
          <input type="text" ng-model="newComment.theValue" id="addCommentText" placeholder="Tell them why you want to chat">
        </label>
      </form>
    </div>
    
      
    <!--
    <div class="itemButtons" style="display: none;">
      
      <div 
       class="button"
        ng-click="letsChat(userData.uid, list.lid, item.tid, $event, store); "
       >
         <div class="letsChatIcon"></div>
        <div class="letsChatIcon ionicons ion-ios7-chatboxes-outline"></div>
      </div>
      
      <div 
           class="button"  
            
           ng-click="ditto(item.mykey, userData.uid, list.lid, item.tid, $event,store);">
        <div class="dittoButton"
           ng-class="{'ionicons ion-ios7-bolt' : item.mykey === 0 ,'ionicons ion-ios7-checkmark-outline' : item.mykey === null , 'ionicons ion-ios7-checkmark' : item.mykey > 0 }"></div>
        
      </div>
      
    </div>
  -->
  </div>
  
</div>